<!DOCTYPE html>
<html>
<head>
  <meta charset='utf8'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
  <title>Movie Notebook</title>
</head>
<body>
  <h1>Movie Notebook</h1>
  {{{body}}}
</body>
</html>
